{% extends 'base.html.twig' %}

{% block body %}
    <h1>Donacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Iddonacion</th>
                <th>Monto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for donacion in donacions %}
            <tr>
                <td><a href="{{ path('donacion_show', { 'idDonacion': donacion.idDonacion }) }}">{{ donacion.idDonacion }}</a></td>
                <td>{{ donacion.monto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('donacion_show', { 'idDonacion': donacion.idDonacion }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
