{% extends 'base.html.twig' %}

{% block body %}
    <h1>Donacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Iddonacion</th>
                <td>{{ donacion.idDonacion }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ donacion.monto }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('donacion_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
