{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salidas list</h1>

    <table>
        <thead>
            <tr>
                <th>Idsalida</th>
                <th>Idprogramas</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salida in salidas %}
            <tr>
                <td><a href="{{ path('salida_show', { 'idSalida': salida.idSalida }) }}">{{ salida.idSalida }}</a></td>
                <td>{{ salida.idProgramas }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('salida_show', { 'idSalida': salida.idSalida }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
