{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salida</h1>

    <table>
        <tbody>
            <tr>
                <th>Idsalida</th>
                <td>{{ salida.idSalida }}</td>
            </tr>
            <tr>
                <th>Idprogramas</th>
                <td>{{ salida.idProgramas }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salida_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
