{% extends 'base.html.twig' %}

{% block body %}
    <h1>Institucions list</h1>

    <table>
        <thead>
            <tr>
                <th>Idinstitucion</th>
                <th>Nombreinstitucion</th>
                <th>Direccion</th>
                <th>Correo</th>
                <th>Tipoinstitucion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for institucion in institucions %}
            <tr>
                <td><a href="{{ path('institucion_show', { 'idInstitucion': institucion.idInstitucion }) }}">{{ institucion.idInstitucion }}</a></td>
                <td>{{ institucion.nombreInstitucion }}</td>
                <td>{{ institucion.direccion }}</td>
                <td>{{ institucion.correo }}</td>
                <td>{{ institucion.tipoInstitucion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('institucion_show', { 'idInstitucion': institucion.idInstitucion }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('institucion_edit', { 'idInstitucion': institucion.idInstitucion }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('institucion_new') }}">Create a new institucion</a>
        </li>
    </ul>
{% endblock %}
