{% extends 'base.html.twig' %}

{% block body %}
    <h1>Institucion</h1>

    <table>
        <tbody>
            <tr>
                <th>Idinstitucion</th>
                <td>{{ institucion.idInstitucion }}</td>
            </tr>
            <tr>
                <th>Nombreinstitucion</th>
                <td>{{ institucion.nombreInstitucion }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ institucion.direccion }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ institucion.correo }}</td>
            </tr>
            <tr>
                <th>Tipoinstitucion</th>
                <td>{{ institucion.tipoInstitucion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('institucion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('institucion_edit', { 'idInstitucion': institucion.idInstitucion }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
